#intro {
  background-image: url("asset/2.png");
  height: 100vh;
}
#intro .mask{
  height: 100vh;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
  #intro {
    margin-top: -58.59px;
  }
}
